<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ProjectInfoProviders">
      <section name="ProjectInfoProvider" type="AmpelLib.ConfigSections.ProjectInfoProviderSection, AmpelLib" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FBUrl" value="http://ecx-build/fb/Services/FinalBuilderServer.asmx"/>
    <add key="FBUser" value="admin"/>
    <add key="FBPassword" value="adin1"/>
    <add key="ProjectsMask" value="ECA"/>
    
    
    
  </appSettings>
  
  <ProjectInfoProviders>
    <ProjectInfoProvider GroupMask="ECA" User="" Password="" Url="http://ecx-build/fb/Services/FinalBuilderServer.asmx" Type="TeamCityProjectInfoProvider">
      <Projects>
        <Project name="ECA Audit - master"/>
        <Project name="ECA Audit - trygghansa" />
      </Projects>
    </ProjectInfoProvider>
  </ProjectInfoProviders>

</configuration>


<!--
<TunnelSection>
  <host SSHServerHostname="tsg.edssdn.net" username="user" SSHport="22" password="pass" privatekey="" privatekeypassphrase="">
    <tunnels>
      <tunnel name="tfs" localport="8081"  remoteport="8080" destinationserver="tfs2010.dev.com"  />
      <tunnel name="sql" localport="14331"  remoteport="1433" destinationserver="sql2008.dev.com"  />
      <tunnel name="crm2011app" localport="81"  remoteport="80" destinationserver="crm2011betaapp.dev.com"  />
    </tunnels>
  </host>
  <host SSHServerHostname="blade16" username="root" SSHport="22"  password="pass" privatekey="" privatekeypassphrase="">
    <tunnels>
      <tunnel name="vnc" localport="5902"  remoteport="5902" destinationserver="blade1.dev.com" />
    </tunnels>
  </host>
</TunnelSection>
-->